.navbar {
  background-color: #0C2C3D;
}

.navbar-nav a {
  color: white !important;
}

.nav-link:hover {
  background-color: #1F8A9C;
  text-decoration: underline;
  border-radius: 25px;
  padding: 6px;
}

.navbar-toggler-icon {
  filter: invert(1)
}

.navbar-brand {
  font-family: 'Aclonica';
  font-style: italic;
  font-size: 22px;
  color: white !important;
}

body {
  background-color: #081B29;
}
