.navbar {
  background-color: #081B29;
}

body {
  color: white;
}

form {
  border: 1px solid #0ef;
  border-radius: 20px;
  box-shadow: 0 0 10px #0ef;
  padding: 20px 20px 40px;
}

h2 {
  text-align: center;
}

input[type="submit"] {
  background: linear-gradient(180deg, #396073 0%, rgba(57, 96, 115, 0.00) 100%); 
  border-radius: 25px; 
  color: white;
}
