.navbar {
  background-color: #081B29;
}

body {
  color: white;
}

h2 {
  text-align: center;
}

input[type="submit"] {
  background: linear-gradient(180deg, #396073 0%, rgba(57, 96, 115, 0.00) 100%); 
  border-radius: 25px; 
  color: white;
}
