{% extends "base.html" %}

{% set css_file = 'home.css' %}

{% block content %}
<div class="container mt-3">
  <h3 class="mb-3">URL Shortener</h3>
  <p class="mb-4">"Empower your online presence with a URL shortener, where long links transform into concise, easy-to-share wonders!"</p>
  <form method="POST">
    <div class="row">
      <div class="col-md-10">
        <input type="url" class="form-control" id="long-url" name="long-url" placeholder="Enter link to shorten">
      </div>
      <div class="col-md-2">
        <input type="submit" value="Shorten URL">
      </div>
    </div>
  </form>
</div>

<div class="container mt-4">
  <div class="table-responsive">
    <table class="table table-hover table-sm">
      <thead class="table-primary">
        <tr>
          <th>Original URL</th>
          <th>Short URL</th>
          <th>Clicks</th>
	  <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="http://www.examplesite/folder/data.com">http://www.examplesite/folder/data.com</a></td>
          <td><a href="/a4H21f">/a4H21f</a></td>
          <td>2</td>
	  <td><button class="btn btn-danger btn-sm">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
