{% extends "base.html" %}

{% set css_file = 'home.css' %}

{% block content %}
<div class="container mt-3">
  <h3 class="mb-3">URL Shortener</h3>
  <p class="mb-4">"Empower your online presence with a URL shortener, where long links transform into concise, easy-to-share wonders!"</p>
  <form method="POST">
    <div class="row">
      <div class="col-md-10">
        <input type="url" class="form-control" id="long-url" name="long-url" placeholder="Enter link to shorten">
      </div>
      <div class="col-md-2">
        <input type="submit" value="Shorten URL">
      </div>
    </div>
  </form>
</div>

{% endblock %}
